introduction {
  .questionnaire-title {
    font-size: 4rem;
  }

  .icons-big {
    width: 30%;
  }

  .pos-bottom {
    position: fixed;
    bottom: 10px;
    width: 100%;
  }

  .scroll-page {
    height: calc(100% - 88px);
  }
}
