<!--<ion-content>-->
<!--  <div *ngIf="!loading">-->

    <ion-scroll
      padding
      scrollY="true"
      class="scroll-page"
    >
      <div style="padding-bottom: 5px">
        <img
          class="logo"
          src="assets/imgs/worldwideresources.png"
          alias="RADAR LOGO"
        >
        <div class="padding text-sm text-justify" style="padding-bottom: 16px; padding-top: 16px;">We know your time is valuable. To thank you for your participation in
          the HOME study, we have
          compiled a list of resources covering different aspects of migration to the UK that you may find useful.
        </div>

        <div>
          <ion-item-group>
            <learning-item title="Visas and immigration" iconMd="md-globe">
              <div class="detail text-align">There is one single government website for all your visa and immigration information.</div>
              <span (click)="window.open('https://www.gov.uk/browse/visas-immigration', '_system')">https://www.gov.uk/browse/visas-immigration</span>
            </learning-item>
            <learning-item title="Registering for work" iconMd="md-create">
              <div class="detail text-align">For all information related to work, taxes, benefits and unemployment support, please visit: <span (click)="window.open('http://www.gov.uk/', '_system')">http://www.gov.uk</span> or visit your local Job centre Plus for face-to-face advice.</div>
            </learning-item>
            <learning-item title="Access to healthcare" iconMd="md-medkit">
              <div class="detail text-align">
                <ul>
                  <li>All healthcare-related information can be found on the National Healthcare Service (NHS) website. <span (click)="window.open('https://www.nhs.uk/', '_system')">www.nhs.uk</span></li>
                  <li>See Public Health England’s webpage for useful advice and guidance on the health needs of migrant patients <span (click)="window.open('https://www.gov.uk/guidance/nhs-entitlements-migrant-health-guide', '_system')">https://www.gov.uk/guidance/nhs-entitlements-migrant-health-guide</span></li>
                  <li>Find a local GP via <span (click)="window.open('https://www.nhs.uk/service-search/GP/LocationSearch/4', '_system')">https://www.nhs.uk/service-search/GP/LocationSearch/4</span></li>
                  <li>For non-urgent advice about any medical condition visit <span (click)="window.open('https://www.nhs.uk/conditions/', '_system')">https://www.nhs.uk/conditions/</span></li>
                  <li><b>Emergency number (Ambulance/Police/Fire): Call 999</b></li>
                  <li><b>Mental health crisis:</b> Call 111 (for local crisis team) or go to A&E (place of safety)</li>
                  <li><b>Urgent medical advice number (not an emergency): Call 111 </b></li>
                </ul>
              </div>
            </learning-item>
            <learning-item title="Access to health support" iconMd="md-heart">
              <div class="detail text-align">
                <div><b>Mental health support services</b></div>
                <ul><li>For advice and support to empower anyone experiencing a mental health problem. <span (click)="window.open('https://www.mind.org.uk/', '_system')">https://www.mind.org.uk/</span>. They also have an information line for non-urgent support and advice 0300 123 3393.</li></ul>
                <div><b>Sexual and reproductive health support services</b></div>
                <ul>
                  <li>Visit <span (click)="window.open('https://www.sexwise.fpa.org.uk/', '_system')">https://www.sexwise.fpa.org.uk/</span> for further information about sexual health and contraception.</li>
                  <li>Visit <span (click)="window.open('https://www.nhs.uk/service-search/other-services/', '_system')">https://www.nhs.uk/service-search/other-services</span> to find local sexual health services in your area.</li>
                  <li>Visit <span (click)="window.open('https://www.tht.org.uk/', '_system')">https://www.tht.org.uk/</span> for support and advice. The Terrence Higgins Trust (THT) is a UK charity providing support, advice and information about sexual health. You can contact the THT directly on 0808 802 1221, via email or by post.</li>
                  <li>Speak to your GP — they can refer you to specialist sexual health services if needed.</li>
                </ul>
                <div><b>Domestic abuse support services</b></div>
                <ul><li>Advice and support for women, children & men experiencing domestic abuse.</li></ul>
                <ul style="list-style-type: square !important;">
                  <li><span (click)="window.open('https://www.refuge.org.uk/', '_system')">https://www.refuge.org.uk/</span></li>
                  <li><span (click)="window.open('https://www.womensaid.org.uk/', '_system')">https://www.womensaid.org.uk/</span></li>
                  <li><span (click)="window.open('https://www.welshwomensaid.org.uk/', '_system')">https://www.welshwomensaid.org.uk/</span></li>
                  <li><span (click)="window.open('http://www.scottishwomensaid.co.uk/', '_system')">http://www.scottishwomensaid.co.uk/</span></li>
                  <li><span (click)="window.open('https://www.womensaid.ie/', '_system')">https://www.womensaid.ie/</span></li>
                </ul>
                <div><b>Children abuse support services</b></div>
                <ul><li>The National Society for the Prevention of Cruelty to Children - to keep children safe from abuse.<span (click)="window.open('https://www.nspcc.org.uk/', '_system')">https://www.nspcc.org.uk/</span></li></ul>
                <div><b>Health care and support for refugees, destitute migrants, sex workers and the homeless</b></div>
                <ul><li><span (click)="window.open('https://www.doctorsoftheworld.org.uk/', '_system')">https://www.doctorsoftheworld.org.uk/</span></li></ul>
                <div><b>LGBT+ support services</b></div>
                <ul><li>Helpline and other advice and information on all immigration and nationality issues for gay men, lesbians, bisexual, transgender and non-binary/gender fluid people.</li></ul>
                <ul style="list-style-type: square !important;">
                  <li><span (click)="window.open('https://uklgig.org.uk/', '_system')">https://uklgig.org.uk/</span></li>
                  <li><span (click)="window.open('https://www.stonewall.org.uk/', '_system')">https://www.stonewall.org.uk/</span></li>
                  <li><span (click)="window.open('https://switchboard.lgbt/', '_system')">https://switchboard.lgbt/</span></li>
                </ul>
              </div>
            </learning-item>
            <learning-item title="Access to community support" iconMd="md-people">
              <div class="detail text-align">
                <div><b>Citizens advice</b></div>
                <ul><li>National service that gives free, confidential information and advice to assist people with housing, money, legal, consumer and other problems. <span (click)="window.open('https://www.citizensadvice.org.uk/', '_system')">https://www.citizensadvice.org.uk/</span></li></ul>
                <div><b>Migrant families network</b></div>
                <ul><li>Help for migrant families in relation to housing and financial support when they have no recourse to public funds. <span (click)="window.open('https://migrantfamilies.nrpfnetwork.org.uk/', '_system')">https://migrantfamilies.nrpfnetwork.org.uk/</span></li></ul>
                <div><b>International Expat guide</b></div>
                <ul><li>Comprehensive Guide to Britain full of useful tips for migrants coming to work and live in the United Kingdom. <span (click)="window.open('https://www.internations.org/great-britain-expats/guide', '_system')">https://www.internations.org/great-britain-expats/guide</span></li></ul>
              </div>
            </learning-item>
          </ion-item-group>
        </div>
      </div>
    </ion-scroll>
<!--  </div>-->

<!--  <ion-slides *ngIf="loading" direction="horizontal">-->
<!--    <ion-slide padding id="loadingSlide">-->
<!--      <div class="position-center">-->
<!--        <ion-spinner name="dots"></ion-spinner>-->
<!--      </div>-->
<!--      <div class="status-center">{{  "STATUS_LOADING" | translate  }}</div>-->
<!--      <div class="status">-->
<!--        <div id="outcome" *ngIf="showOutcomeStatus">-->
<!--          {{ outcomeStatus }}-->
<!--        </div>-->
<!--      </div>-->
<!--    </ion-slide>-->
<!--  </ion-slides>-->

<!--</ion-content>-->
