<ion-scroll
  scrollY="true"
  class="scroll-page"
  padding
  style="height: 100%;"
>
  <div style="padding-bottom: 5px">
    <img
      class="logo"
      src="assets/imgs/hand-with-phone.png"
      alias="Study Information LOGO"
    >
    <div class="padding text-sm" style="padding-bottom: 16px; padding-top: 16px;">
      {{ "STUDY_INFO_EXPLANATION_1" | translate}}
    </div>


    <div>
      <ion-item-group>
        <page-consent-item title="{{'CONSENT_ITEM_TIME_COMMITMENT_TITLE' | translate }}" iconMd="md-alarm">
          <div class="detail text-align" [innerHTML]=" 'CONSENT_ITEM_TIME_COMMITMENTS_CONTENT' | translate "></div>
        </page-consent-item>
        <page-consent-item title="{{'CONSENT_ITEM_BENEFIT_TITLE' | translate }}" iconMd="md-chatbubbles">
          <div class="detail text-align" [innerHTML]=" 'CONSENT_ITEM_BENEFIT_CONTENT' | translate "></div>
        </page-consent-item>
        <page-consent-item title="{{'CONSENT_ITEM_DATA_COLLECTION_TITLE' | translate }}" iconMd="md-analytics">
          <div class="detail text-align" [innerHTML]=" 'CONSENT_ITEM_DATA_COLLECTION_CONTENT' | translate "></div>
        </page-consent-item>
        <page-consent-item title="{{'CONSENT_ITEM_STUDY_FINDINGS_TITLE' | translate }}" iconMd="md-school">
          <div class="detail text-align" [innerHTML]=" 'CONSENT_ITEM_STUDY_FINDINGS_CONTENT' | translate "></div>
        </page-consent-item>
        <page-consent-item title="{{'CONSENT_ITEM_FOLLOW_UP_TITLE' | translate }}" iconMd="md-paper">
          <div class="detail text-align" [innerHTML]=" 'CONSENT_ITEM_FOLLOW_UP_CONTENT' | translate "></div>
        </page-consent-item>
        <page-consent-item title="{{'CONSENT_ITEM_PRIVACY_TITLE' | translate }}" iconMd="md-mail">
          <div class="detail text-align" [innerHTML]=" 'CONSENT_ITEM_PRIVACY_CONTENT' | translate "></div>
        </page-consent-item>
        <page-consent-item title="{{'CONSENT_ITEM_DATA_PROTECTION_TITLE' | translate }}" iconMd="md-lock">
          <div class ="detail text-align" [innerHTML]=" 'CONSENT_ITEM_DATA_PROTECTION_CONTENT' | translate "></div>
        </page-consent-item>
        <page-consent-item title="{{'CONSENT_ITEM_DISADVANTAGES_TITLE' | translate }}" iconMd="md-warning">
          <div class="detail text-align" [innerHTML]=" 'CONSENT_ITEM_DISADVANTAGES_CONTENT' | translate "></div>
        </page-consent-item>
        <page-consent-item title="{{'CONSENT_ITEM_WITHDRAWING_TITLE' | translate }}" iconMd="md-log-out">
          <div class="detail text-align" [innerHTML]=" 'CONSENT_ITEM_WITHDRAWING_CONTENT' | translate "></div>
        </page-consent-item>
        <page-consent-item title="{{'CONSENT_ITEM_CONTACT_US_TITLE' | translate }}" iconMd="md-paper-plane">
          <div class="detail text-align" [innerHTML]=" 'CONSENT_ITEM_CONTACT_US_CONTENT' | translate "></div>
        </page-consent-item>
        <page-consent-item title="{{'STUDY_INFO_ITEM_SHARE_MOVIE_TITLE' | translate }}" iconMd="md-paper-plane">
          <div class="detail text-align" [innerHTML]=" 'STUDY_INFO_ITEM_SHARE_MOVIE_CONTENT' | translate "></div>
        </page-consent-item>
      </ion-item-group>
    </div>

    <div style="text-align: center; margin-bottom: 16px;">
      <iframe id="introframe"
              src="https://player.vimeo.com/video/376190254?api=1&player_id=player1"
              frameborder="0">

      </iframe>
      <span class="link" (click)="window.open('https://vimeo.com/376190254', '_system')">https://vimeo.com/376190254</span>
    </div>
  </div>
</ion-scroll>
