<ion-scroll
  scrollY="true"
  class="scroll-page"
  padding
  style="height: 100%;"
>
  <div style="padding-bottom: 5px">
    <img
      class="logo"
      src="assets/imgs/hand-with-phone.png"
      alias="Study Information LOGO"
    >


    <div>
      <ion-item-group>
        <div *ngFor="let consentPageItem of consentPageItems">
          <learning-item
            [currentItem]="consentPageItem"
          >
          </learning-item>
        </div>
      </ion-item-group>
    </div>

<!--    <div style="text-align: center; margin-bottom: 16px;">-->
<!--      <iframe id="introframe"-->
<!--              src="https://player.vimeo.com/video/376190254?api=1&player_id=player1&background=1"-->
<!--              frameborder="0" allowfullscreen>-->

<!--      </iframe>-->
<!--      <a href="https://vimeo.com/376190254" target="_blank">https://vimeo.com/376190254</a>-->
<!--    </div>-->
    <div style="text-align: center; margin-bottom: 16px;">
      <iframe id="introframe"
              src="https://player.vimeo.com/video/376190254?api=1&player_id=player1"
              frameborder="0">

      </iframe>
      <a href="https://vimeo.com/376190254" target="_blank">https://vimeo.com/376190254</a>
    </div>
  </div>
</ion-scroll>
