<ion-content>
  <div *ngIf="!loading">
  <ion-slides pager direction="horizontal" [ngClass]="showJoinStudy? 'slide-wrapper-3x':'slide-wrapper-2x'">
    <ion-slide id="intro">
      <div id="logo-container">
        <img id="logo" src="assets/imgs/home-app.png" alt="UCL LOGO">
      </div>
      <div class="swipe-here">{{ "WELCOME_SWIPE_HERE" | translate }}</div>
    </ion-slide>

    <ion-slide id="aboutStudy" margin-bottom="10px">
      <ion-scroll
        scrollY="true"
        class="scroll-page scroll-page-wrapper"
      >
        <div>
          <div>
            <iframe id="introframe"
                    src="https://player.vimeo.com/video/376190254?api=1&player_id=player1"
                    frameborder="0"
            ></iframe>
          </div>
          <div class="text-md " margin-top="10px">{{ "ENROL_ABOUT_HEADING" | translate }}</div>
        </div>

        <div>
          <div
            padding
            class="text-paragraph text-justify" [innerHTML]=" 'WELCOME_ABOUT' | translate ">
          </div>
        </div>
      </ion-scroll>
    </ion-slide>
  </ion-slides>

  <div padding [ngClass]="showJoinStudy? 'bottom-3x':'bottom-2x'">
    <button
      ion-button
      class="bt bt--full"
      round
      full
      (tap)="showSelectLanguage()"
    >
      {{ "WELCOME_SELECT_LANGUAGE" | translate }}
    </button>
    <button
      *ngIf="showJoinStudy"
        ion-button
        class="bt bt--full"
        round
        full
        (tap)="joinStudy()"
    >
      {{ "WELCOME_JOIN_STUDY" | translate }}
    </button>
    <button
        ion-button
        class="bt bt--full"
        round
        full
        (tap)="goToLogin()"
    >
      {{ "WELCOME_ALREADY_PARTICIPATING" | translate}}
    </button>
  </div>
  </div>

  <ion-slides *ngIf="loading" direction="horizontal">

    <ion-slide padding id="loadingSlide">
      <div class="position-center">
        <ion-spinner name="dots"></ion-spinner>
      </div>
      <div class="status-center">{{  "STATUS_LOADING" | translate  }}</div>
      <div class="status">
        <div id="outcome" *ngIf="showOutcomeStatus">
          {{ outcomeStatus }}
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
